<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>science</title>
        <!--글꼴-->
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean" rel="stylesheet">
        <!-- 스타일 -->
        <link rel="stylesheet" href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/public.css" type="text/css">
    </head>

    <body>
        <!--상단 제목-->
        <h1 class="main-title">Earth science</h1> 
        <!--a태그-->
        <div style="text-align:center; height: 70px;">
            <div class="button" style="background-color: lightgray;"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/home.html">Home</a></div>
            <div class="button"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/introduce.html">소개</a></div>
            <div class="button">빅뱅</div>
            <div class="button"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/energy.html">에너지</a></div>
        </div>
        <br>

        <!--내용-->
        <div style="height:100%"class="con"> 
            <h2 style="text-align: center;">Big bang</h2>
            <hr color="black" width="85%" size="1">
            <br>
            <!--빅뱅우주론-->
            <div style="padding: 5px;">
                <h3>> 빅뱅 우주론</h3>
                <div style="height: 360px;">
                    <div style="width: 40%; height: 350px; float: left; margin: 5px;">
                        <img src="우주대폭발.JPG"width="100%">
                    </div>
                    <div style="width: 55%; height: 350px; float: right; margin: 5px 5px 5px 0px;">
                        &nbsp;우주가 점점 팽창하고 있다는 뒤집어 과거로 거슬러 올라갈수록 우리 우주는 점차 작아질 것이다.
                        그 큰 우주는 다시 작아지고 작아져 하나의 점이 되고 우리 우주 즉 그 점이 처음 탄생하는 순간이 있었을 것이다.
                        그렇다면 우주는 처음부터 존재하던 것이 아니라 새롭게 생겨져 난 것은 아닐까?
                        바로 이러한 의문들이 '빅뱅'즉 대폭발 이론을 탄생하게 만들었다.
                        <br>
                        <br>
                        &nbsp;허블의 관측 결과와 프리드만, 르메트르의 선구적 연구를 토대로 1956년 러시아 출신의 미국 학자 조지 가모프(George Gamow)는 
                        우주의 초기 상태를 규명하려 했던 것에서 빅뱅이론을 제안하였다. 
                        가모프는 한때 프리드만의 제자이기도 했다.
                    </div>
                </div>
            </div>
            <!--빅뱅우주론 끝-->
            <!--빅뱅이론-->
            <div style="padding: 5px;">
                <h3>> 빅뱅 이론</h3>
                <div style="height: 400px;">
                    <div style="width: 40%; height: 390px; float: left; margin: 5px;">
                        <img src="빅뱅이론.JPG"width="100%">
                    </div>
                    <div style="width: 55%; height: 390px; float: right; margin: 5px 5px 5px 0px; ">
                        &nbsp;빅뱅 이론은 우주가 한 점으로부터 탄생한 후 지금까지도 팽창을 계속하여 오늘의 우주에 이르렀다는 이론이다.
                        빅뱅 이론은 현재 우주모델의 표준이 되는 것으로 상당히 강력한 과학적 증거들을 가지고 있다.
                        우주가 특이점에서 생겨나 지금까지 약 140억년 정도의 나이를 가졌다는 것과 양자론, 
                        일반 상대성이론으로 플랑크 타임(10-43초) 이후의 우주 진화를 설명할 수 있고 예측할 수도 있다. 
                        <br>
                        <br>
                        &nbsp;물론 예전에 평평함의 문제(Flatness problem)라는 것과 지평선 문제(Horizom problem), 
                        자기 단극자 문제(monople problem)가 대두되어 위기를 맞기도 했으나 구스의 인플레이션이론으로 인해 어느 정도 해결이 되었다. 
                        하지만 이 인플레이션 이론 역시 아직 완벽하지 않다는 문제점을 가지고 있다.
                    </div>
                </div>
            </div>
            <!--빅뱅이론 끝-->
            <!--빅뱅, 정상-->
            <div style="padding: 5px;">
                <h3>> 빅뱅 우주론과 정상 우주론</h3>
                <div style="height: 400px;">
                    <div style="width: 40%; height: 390px; float: left; margin: 5px;">
                        <img src="빅뱅, 정상.png"width="100%">
                    </div>
                    <div style="width: 55%; height: 390px; float: right; margin: 5px 5px 5px 0px;overflow-x:hidden;">
                        &nbsp;빅뱅 이론은 우주가 왜 대폭발을 일으켰는가에 대한 물음을 답할 수 없으며 관측의 정확성도 불확실하며, 
                        당시 허블이 계산한 약 20억년이라는 우주의 나이가 지구의 나이 약 46억 년보다도 짧다는 모순이 생겨났다.
                        따라서 우주는 영구불변하다는 생각이 계속해서 남아있게 되었다.
                        그리하여 1948년에 영국의 본디, 골드, 호일은 '정상 우주론'을 제시하였다.
                        <br>
                        <br>
                        &nbsp;빅뱅 우주론은 우주는 팽창하고 그 사이에 새로운 물질은 생겨나지 않아서 물질들 간의 거리는 시간이 흘러 갈수록 멀어진다.
                        정상 우주론 또한 우주는 팽창해서 그 사이가 멀어지면 진공에서 새로운 물질이 생겨나서 물질들 간의 거리는 멀어지지 않는다는 이점이 있다.
                        <br> <br>
                        &nbsp;1940년대 거의 동시에 나타난 빅뱅 이론과 정상 우주론은 둘 다 결정적인 증거가 없어, 그 후 격렬한 논쟁이 계속되었다. 
                        하지만 빅뱅 이론을 지지하는 증거가 하나 둘 생겨나자 정상 우주론과의 치열한 논쟁이 거의 매듭짓게 되었다.
                    </div>
                </div>
            </div>
            <!--빅뱅, 정상 끝-->
        <!--내용 끝-->
        </div>
        <br>
        <hr>
        <p>1302 김난희</p>
    </body>
</html>