<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>science</title>
        <!--글꼴-->
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean" rel="stylesheet">
        <!-- 스타일 -->
        <link rel="stylesheet" href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/public.css" type="text/css">
    </head>
    
    <body>
        <!--상단 제목-->
        <h1 class="main-title">Earth science</h1> 
        <!--a태그-->
        <div style="text-align:center; height: 70px;">
            <div class="button" style="background-color: lightgray;">Home</div>
            <div class="button"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/introduce.html">소개</a></div>
            <div class="button"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/BigBang.html">빅뱅</a></div>
            <div class="button"><a href="file:///C:/Users/user/Desktop/%EA%B3%BC%ED%95%99/templates/energy.html">에너지</a></div>
        </div>
        <br>

        <!--내용-->
        <div style="height:100%"class="con"> 
           <h2 style="text-align: center;">Home</h2>
            <hr color="black" width="85%" size="1">
            <br>
            <!--주제-->
            <div style="padding: 5px;">
                <h3>> 주제</h3>
                <div style="height: 360px;">
                    <div style="width: 80%; height: 350px; margin: 0% 10% 0% 10%">
                        <img src="주제-2.png"width="100%">
                    </div>
                </div>
            </div>
            <!--주제 끝-->
            <br> <br>
            <hr color="black" width="85%" size="1">
            <!--출처-->
            <div style="padding: 5px;">
                <h3 style="color:blue;">출처</h3>
                <div style="height: 360px;">
                    지구 소개 – <a href="https://ko.wikipedia.org/wiki/%EC%A7%80%EA%B5%AC" style="text-decoration:none">https://ko.wikipedia.org/wiki/%EC%A7%80%EA%B5%AC</a>
                    <br> <br>
                    액체 상태의 물 - <a href="http://study.zum.com/book/12019" style="text-decoration:none">http://study.zum.com/book/12019</a>
                    <br> <br>
                    지구의 하루가 줄어든 이유 - <a href="https://newspeppermint.com/2018/06/06/dayisgettinglonger/" style="text-decoration:none">https://newspeppermint.com/2018/06/06/dayisgettinglonger/</a> 
                    <br> <br>
                    빅뱅 우주론 - <a href="https://astro.kasi.re.kr/learning/pageView/6381" style="text-decoration:none">https://astro.kasi.re.kr/learning/pageView/6381</a> 
                    <br> <br>
                    에너지 정의 - <a href="https://ko.wikipedia.org/wiki/%EC%97%90%EB%84%88%EC%A7%80" style="text-decoration:none">https://ko.wikipedia.org/wiki/%EC%97%90%EB%84%88%EC%A7%80</a> 
                    <br> <br>
                    에너지 종류 - <a href="http://study.zum.com/book/13771" style="text-decoration:none">http://study.zum.com/book/13771</a> 
                    <br> <br>
                    에너지의 전환, 에너지 보존 - <a href="http://study.zum.com/book/13296" style="text-decoration:none">http://study.zum.com/book/13296</a> 
                </div>
            </div>
            <!--출처 끝-->
        <!--내용 끝-->
        </div>
        <br>
        <hr>
        <p>1302 김난희</p>
    </body>
</html>